
.menu
{
	width: 20%;
	float:right;
	margin-left: 5px;
	margin-right: 30px;	
	margin-top: 5px;	
	margin-bottom: 10px;		
	font-family: Arial, Helvetica, sans-serif;
}

.inputContainer
{
	width: 100%;
	float: left;
	margin-bottom: 15px;
}

.inputContainerDouble
{
	width: 48%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;

	margin-bottom: 15px;
}

.description
{
	float: left;
	/*display:inline-block;*/
	white-space: normal;

	width: 100%;
	margin: 0px;	
	min-height : 25px;
	text-align: center;
}

.slider 
{	
	width: 100%;
	height: 10px;
	margin: 0px 0px 12px 0px;
	-webkit-appearance: none;
	border-radius: 10px;   
	background: #d3d3d3;
	outline: none; 
	opacity: 0.7;
}

.slider::-webkit-slider-thumb 
{
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.textBox
{
	width: 99%;
	padding-right: 0%;
	padding-left: 0%;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	text-align: center;
}

.textBoxTextMode
{
	width: 99%;
	padding-right: 0%;
	padding-left: 0%;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	text-align: center;
}

.dropdownMenu
{
	width: 100%;
	height: 25px;
    text-overflow: ellipsis;
	outline: none;
	border-radius: 3px;
	border: 1px solid #d3d3d3;
}

.button
{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0px;
	cursor: pointer;
	border-radius: 3px;
}

button:disabled,button[disabled]
{
	background-color: #707070;
	border: none;
	color: white;
	padding: 10px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: px;
	cursor: pointer;
	border-radius: 3px;
}

.doubleButtonLeft
{
	width: 48%;
	margin-right: 2%;
}

.doubleButtonLeft:disabled,.doubleButtonLeft[disabled]
{
	width: 48%;
	margin-right: 2%;
}

.doubleButtonRight
{
	width: 48%;
	margin-left: 2%;
}

.doubleButtonRight:disabled,.doubleButtonRight[disabled]
{
	width: 48%;
	margin-left: 2%;
}

/* checkbox a checkbox description, descrription u checkboxu ma vlastni styl, protoze checkbox a text jsou na jednom radku*/
.description[id*=checkbox]
{
	float:left;
	width: 80%;
	margin: 0px;
	padding-left: 12px;	
	height : 25px;
	text-align: left;
}

.checkbox
{
	float:right;
	margin-top: 1px;
	margin-right: 12px;	
	width: 15px;
    height: 15px;
	-webkit-appearance: none;
    border-radius: 30%;
    vertical-align: middle;
	border: 1px solid #d3d3d3;
}

.checkbox:checked 
{
    background-color: #4CAF50;
	border: 1px solid #4CAF50;
}

/*return to menu button*/
#returnToMenu
{
	margin-bottom: 0px;
}

#returnToMenuButton 
{
  background-color: #D35400;
}

/*sudoku*/
/*idea prevzata z https://codepen.io/sdobson/pen/aEWBQw*/
/*sudoku je tvoreno seznamem ve tvaru mrize*/

/*sirka menu je 20% sirky obrazovky*/
/*sudoku bude mit pouze 19% a to deleno 9 pak definuje velikost bunky - calc(19vw/9)*/
/*velkosti pisma, sirka ohraniceni atd. jsou pak dopocitany relativne k teto hodnote*/

/* zvyrazneni stran */
li:nth-child(n):nth-child(-n+9)
{
  border-top-width: calc((19vw/9)/8);
}

li:nth-child(n+73):nth-child(-n+81)
{
  border-bottom-width: calc((19vw/9)/8);
}

li:nth-child(3n) 
{
  border-right-width: calc((19vw/9)/8);
}

li:nth-child(9n+1)
{
  border-left-width: calc((19vw/9)/8);
}

li:nth-child(n+19):nth-child(-n+27)
{
  border-bottom-width: calc((19vw/9)/8);
}

li:nth-child(n+46):nth-child(-n+54)
{
  border-bottom-width: calc((19vw/9)/8);
}

/*seznam bude formou mrize*/
ul 
{
  display: grid;
  grid-template-columns: repeat(9, calc(19vw/9));
  grid-template-rows: repeat(9, calc(19vw/9));
  justify-content: center;
  align-content: center;
  grid-gap: 0rem;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*polozky seznamu*/
li {
  margin: 0;
  padding: 0;
  text-align: center;
  border: calc((19vw/9)/50) solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*samotny inputText box*/
.sudokuCell
{
	width: 100%;
	height: 100%;
	padding: 0px;
	border: 0px;
	text-align: center;
	font-size: calc(3*(19vw/9)/4);
	
	/*zadny outline po kliku*/
	outline: none;
}